/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    max-height: 100px;
}

.center {
    overflow-y: auto;
    padding: 50px;
}

.top {
    background-color: rgb(248, 249, 250);
    height: 100px;
}

.container-vert {
    background-color: rgb(5, 30, 52);
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content : space-between;
}

.container-tot {
    background-color: blue;
    display: flex;
    height: calc(100vh - 100px);
    
}

.container-main {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.Orizzontal-Box {
    background-color: rgb(27, 114, 232);
}

ul{
    list-style-type: none;
}


/* Navbar */


#Logo1 {
    width: 10%;
}

.navbar .fa-bell:active {
    color: gold;
}

.navbar #Logo2, .none{
    display: none;
}


.navbar .fa-bell {
    margin-right: 10px;
}

/* Container Verticale */

.container-vert li {
    padding: 5px;
}

.container-vert .link {
    width: 30px;
    height: 30px;
    padding:0px 5px 0px 5px;
}

.Vblock {
    margin-left: -30px; 
}

.container-vert p {
    display: none;
}

.container-vert a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.container-vert a:hover, .container-vert .link:hover {
    color: black;
    background-color: lightgrey;
}


.container-vert .float {
    margin-left: 5px;
}


/*--------------------------- Container main------------------------------- */

/*---------------- Container orizzontale ---------------- */

.Orizzontal-Box .breadcrumb {
    color: white;
}

/* Prima colonna */

.Orizzontal-Box .row .none-md {
    display: none;
} 

.Orizzontal-Box .prima .breadcrumb a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    background-color: rgb(22, 91, 186);
}

.Orizzontal-Box .terza .breadcrumb a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
}

.Orizzontal-Box .terza .dropdown-toggle::after {
    display: none;
}

.Orizzontal-Box .breadcrumb a:hover{
    color: black;
}

.Orizzontal-Box .breadcrumb .Inone-sm {
    margin:0px 0px 10px 0px;
} 

.Orizzontal-Box .breadcrumb .none-sm span{
    font-size: 20px;
} 

/* Lista ordinata superiore */

.Orizzontal-Box .tp .Inone-sm .fa-regular{
    margin: -5px 0px 0px 10px;
    font-size: 50px;
} 

.Orizzontal-Box .tp .link {
    margin:5px 0px 0px 5px;

}

/* Lista ordinata inferiore */

.Orizzontal-Box .bt .fa-plus {
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    background-color: rgb(22, 91, 186); 
}
 
.Orizzontal-Box .bt .fa-angles-right{
    font-size: 20px;
} 
/* Seconda colonna */

.Orizzontal-Box .OR-Box {
    margin-top: 20px;
}

.Orizzontal-Box .OR-Box h4, h6{
    color:white;
} 

/* Terza colonna */
.Orizzontal-Box .row .Cnone-sm {
    display: none;
} 


/*---------------- Container center (bootstrap) ---------------- */

.center .table_box {
    border: 2px solid lightgray;
    border-radius: 15px;
}

.center .vanishes_from_lg {
    display: none;
}

.center .table_box .radio_box {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 15px;
}

.center .table_box .radio_box .form-check {
    margin: 10px;
}

.center .table_box .title {
    border-bottom: 2px solid lightgray;
    background-color: rgb(247, 247, 247);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px 0px 0px 20px;
    width: 100%;
    height: 60px;
}

.center .table_box .accordion-header{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.center .table_box caption h4 {
    margin-left: 5px;
}

.center .table_box .logo3{
    width: 30px;
    display: inline-block;
    background-color: white;
}

.center .table_box .logo3 img {
    width: 100%;
}

.center .table_box .done a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: green;
}

.center .table_box .process a{  
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: gold;
}

.center .table_box .failed a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: red;
}

.center .table_box a:hover {
    color: black;
}

.center .table_box .icon {
   display: inline-block;
}

.center .table_box .icon a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.center .table_box .icon a:hover {
    color: black;
    background-color: gray;
}



/* quarto blocco */
.center .table_box .Stat_box {
    margin: 20px;
    border: 2px solid lightgray;
    border-radius: 15px;
}

.center .table_box .Stat_box .img_box {
    padding: 10px;
}

.center .table_box .Stat_box .img_box img {
    width: 100%;
}

.center .table_box .Stat_box .Text_box {
    border-bottom: 2px solid lightgray;
    width: 100%;
    padding: 10px;
}

.center .table_box .Stat_box .Link_box {
    padding: 10px;
}

.center .table_box .Stat_box .Link_box  a{
    color: blue;
    cursor: pointer;
    font-size: 20px;

}

