
  

 /* Versione mobile-tablet in su */
 @media screen and (min-width: 576px) {

    

    /* Container main */

    /* Container fluid (orizzontale) */

    

}


  /* Versione tablet in su */
  @media screen and (min-width: 768px) {


    /* navbar bootstrap (container-fluid) */

    .navbar .none{
        display: inline-block;
    }

    /* Container verticale */

    .container-vert {
        min-width: 150px;
    }

    .container-vert .link {
        width: 120px;
        height: 30px;
    }

    .container-vert p {
        display: inline-block;
    }


    /* Container main */

    /* Container fluid (orizzontale) */


    /* Prima colonna */
    .Orizzontal-Box .row .none-md {
        display: inline-block;
        margin-left: -15px;
    } 

    .Orizzontal-Box .breadcrumb .Inone-sm {
        display: none;
    } 

    .Orizzontal-Box .tp .link {
        margin:10px 0px 0px 5px;
    
    }

    /* Terza colonna */
       .Orizzontal-Box .row .Cnone-sm {
        display: inline-block;
    } 

    .Orizzontal-Box .row .Cnone-sm .li{
        margin:0px 0px 20px 10px;
    } 
    
    .Orizzontal-Box .row .Cnone-sm .fa-regular{
        margin: -5px 0px 0px 10px;
        font-size: 50px;
    } 

}


  /* Versione desktop in su */
  @media screen and (min-width: 992px) {

    /* navbar bootstrap (container-fluid) */

    .navbar #Logo1 {
        display: none;
    }

    .navbar #Logo2 {
        display: inline-block;
        margin-top: 20px;
    }

}


  /* Versione desktop in su */
  @media screen and (min-width: 1400px) {

    /* Container centrale */

    .container {
        max-width: 100%;
    }

}